*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 1100px;            
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;                 
  color: #000;

}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
