.header{
    color: #000000;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    column-gap: 40px;
}

.header__menu{
    justify-self: start;
}

.header__links-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 13px; 
}

.header__links-list-item {
  display: flex;
  align-items: center;
}

.header__links-list-item:not(:first-child)::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;

  border: 1px solid #000;   /* обводка */
  background: transparent;  /* внутри пусто */

  margin-right: 10px;
}

.header__logo{
    justify-self: center;
    width: 148px;
    height: 105px;
      display: block;  
}

.header__logo-image{
    width: 100%;    
    height: auto;    
    display: block;    
}

.header__address{
  justify-self: end;   
  text-align: right;
  
}


.header a {
  color: #000;
  text-decoration: none;
}

.header a:visited {
  color: #000;
}
.header a:hover {
  color: #000;
}

.under{
    text-decoration:underline
}