/*.page {
    min-width: 1100px;   
      max-width: 1100px;  
     margin: 0 auto;      
}*/


.content-section {
    max-width: 1100px;   /* <-- поменяешь на значение из Figma */
    margin: 0 auto;
    padding: 0 24px;     /* чтобы на узких экранах не прилипало к краям */
}

.header {
    display: grid;
    
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
    column-gap: 40px;

    padding-top: 40px;   /* подгонишь под макет */
    margin-top: 92px;
    margin-bottom: 96px;
  
}

.header__menu {
    justify-self: start;
    align-self: center;
    margin-left: 26px;
}

.header__links-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 13px;
}

.header__links-list-item {
    display: flex;
    align-items: center;
}

/* “дырявая” точка перед 2 и 3 пунктом */
.header__links-list-item:not(:first-child)::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #000;
    background: transparent;
    margin-right: 10px;
}

.header__logo {
    justify-self: center;
    align-self: center;
     width: 148px;
    height: 105px;
    display: block;
}



.header__address { 
    width: 240px;
    height: 98px;
    font-size: 18px;
    line-height: 24.3px;
    justify-self: end;
    align-self: center;
    text-align: left;
    font-style: normal; 
    margin-left: 10px;
    margin-right: 26px;
}

.header__address p {
  margin: 0;
  display: block;
}

.header__address a {
    display: block; /* телефон и почта в столбик */
}

.header__address-text {
    margin: 0;
}

.header a {
    color: #000;
    text-decoration: none;
}

.header a:visited {
    color: #000;
}

.header a:hover {
    color: #000;
}

.header a.under {
  text-decoration: underline;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;

  padding: 165px 50px 50px 50px; /* подгонишь под макет */

  
}

.cover__title {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
}

.cover__description {
  margin-top: 106px; /* подгонишь */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  color: #fff;
}

.cover__description-text {
    
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.0em;
  word-spacing: 0.6em; 
}

/* переиспользуемый оверлей — потом пригодится и для карточек */
.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* подгонишь под Figma */
}

.cover > * {
  position: relative; /* чтобы текст был поверх overlay */
}

.cover__title {
  margin: 0;
  color: #fff;
  text-transform: uppercase;

  font-size: 100px;       /* подгонишь */
  line-height: 1.15;      /* подгонишь */
  letter-spacing: 0.3em;
}

.cover__title-part {
  display: block;
}

.cover__title-part_left {
  text-align: left;
}

.cover__title-part_center {
  text-align: center;
}

.cover__title-part_right {
  text-align: right;
}

.cover__button {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 32px;  /* подгонишь */
  text-transform: uppercase;
  cursor: pointer;
}

.lots {
  margin: 180px 24px 0px 24px; /* подгонишь по макету */
}

.lots__heading {
  margin: 0 0 27px 40px;
  padding-top: 0;

  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}


.lots__card-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 25px;           
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;         /* ключевое: 3 карточки в ряд */
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  min-height: 596px;        /* подгонишь (в фигме карточки высокие) */
  padding: 48px 40px 48px;  /* подгонишь */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-size: cover;
  background-position: center;
  color: #fff;
}

/* общий оверлей для карточек (чтобы текст читался) */
.overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.overlay > * {
  position: relative;
}

/* картинки */
.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

/* текст в карточке */
.card__title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

/* ссылка "посмотреть больше" */
.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  text-decoration: underline;
  font-size: 20px;
  line-height: 23px;
  color: #000;
}

.about {
  margin-top: 120px;              /* подгони по макету */
  display: grid;
  grid-template-columns: 334px 693px;
  column-gap: 25px;
  align-items: start;
}

.about__logo {
  width: 240px;                   /* диаметр круга (если в Figma другой — поменяешь) */
  height: 240px;
  border-radius: 50%;
  background: #000;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* важно, потому что в global.css img { width: 100% } */
.about__logo-image {
  width: 148px;                   /* подгони, если надо */
  height: auto;
}

.about__logo-column { 
  padding: 0;                 /* важно */
  display: flex;
  justify-content: center;     /* круг по центру колонки */
  align-items: flex-start;
} /* подгони */

.about__title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  margin-top: 150px;              /* подгони по Figma */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text-column {
     width: 693px; /* правая колонка */
    padding-top: 133px; 
}

.about__paragraph {
  margin: 0;
  font-size: 20px;
  line-height: 24px;               /* 120% */
}

.footer {
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  align-items: start;

  padding: 0;              /* если content-section уже даёт паддинги — оставь */
  margin-top: 180px;       
  margin-left: 50px;
  margin-right: 50px;
  min-height: 180px;       /* как в Figma */
}

.footer__address {
  font-style: normal;
}

.footer__address a {
  display: block;
}

.address__text {
  margin: 0;
}

.footer__menu {
  justify-self: center;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__menu-link {
  color: #000;
  text-decoration: none;
}

.footer__menu-link.under {
  text-decoration: underline;
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;

  justify-self: end;
  display: flex;
  gap: 48px; /* подгони как в фигме */
}

.footer__social-icon {
  width: 48px;   /* подгони */
  height: 48px;
  display: block;
}