/*.page {
    min-width: 1100px;   
    max-width: 1100px;  
    margin: 0 auto;      
}*/


.content-section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}

.header {
    display: grid;
    
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
    column-gap: 40px;

    padding-top: 40px;
    margin-top: 92px;
    margin-bottom: 96px;

}

.header__menu {
    justify-self: start;
    align-self: center;
    margin-left: 26px;
}

.header__links-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 13px;
}

.header__links-list-item {
    display: flex;
    align-items: center;
}

.header__links-list-item:not(:first-child)::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #000;
    background: transparent;
    margin-right: 10px;
}

.header__logo {
    justify-self: center;
    align-self: center;
    width: 148px;
    height: 105px;
    display: block;
}

.header__address {
    width: 240px;
    height: 98px;
    font-size: 18px;
    line-height: 24.3px;
    justify-self: end;
    align-self: center;
    text-align: left;
    font-style: normal;
    margin-left: 10px;
    margin-right: 26px;
}

.header__address p {
margin: 0;
display: block;
}

.header__address a {
    display: block;
}

.header__address-text {
    margin: 0;
}

.header a {
    color: #000;
    text-decoration: none;
}

.header a:visited {
    color: #000;
}

.header a:hover {
    color: #000;
}

.header a.under {
text-decoration: underline;
}

.cover {
position: relative;
background-image: url("../images/cover.jpg");
background-size: cover;
background-position: center;

padding: 165px 50px 50px 50px;


}


.cover__description {
margin-top: 106px;
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;

color: #fff;
}

.cover__description-text {
    
font-size: 22px;
line-height: 28px;
text-transform: uppercase;
letter-spacing: 0.0em;
word-spacing: 0.6em;
}

.cover::before {
content: "";
position: absolute;
inset: 0;
background: rgba(0, 0, 0, 0.6);
}

.cover > * {
position: relative;
}

.cover__title {
margin: 0;
color: #fff;
text-transform: uppercase;

font-size: 100px;
line-height: 1.15;
letter-spacing: 0.3em;
}

.cover__title-part {
display: block;
}

.cover__title-part_left {
text-align: left;
}

.cover__title-part_center {
text-align: center;
}

.cover__title-part_right {
text-align: right;
}

.cover__button {
background: transparent;
color: #fff;
border: 1px solid #fff;
padding: 12px 32px;
text-transform: uppercase;
cursor: pointer;
}

.lots {
margin: 180px auto 0;
}

.lots__heading {
margin: 0 0 27px 40px;
padding-top: 0;

font-weight: 700;
font-size: 40px;
line-height: 47px;
text-transform: uppercase;
}


.lots__card-list {
list-style: none;
margin: 0;
padding: 0;

display: flex;
gap: 25px;
flex-wrap: wrap;
}

.lots__card-list-item {
width: 334px;
}

.card-link {
display: block;
height: 100%;
text-decoration: none;
color: inherit;
}

.card {
position: relative;
min-height: 596px;
padding: 48px 40px 48px;
display: flex;
flex-direction: column;
justify-content: space-between;

background-size: cover;
background-position: center;
color: #fff;
}

.overlay::before {
content: "";
position: absolute;
inset: 0;
background: rgba(0, 0, 0, 0.6);
}

.overlay > * {
position: relative;
}

.card_type_film {
background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
background-image: url("../images/card-lot-03.jpg");
}

.card__title {
margin: 0;
font-weight: 700;
font-size: 22px;
line-height: 1.2;
text-transform: uppercase;
text-decoration: underline;
}

.card__text {
margin: 0;
font-size: 20px;
font-weight: 400;
line-height: 1.2;
}

.lots__look-more-link {
display: inline-block;
margin-top: 30px;
margin-left: 40px;
text-decoration: underline;
font-size: 20px;
line-height: 23px;
color: #000;
}

.about {
margin-top: 120px;
display: grid;
grid-template-columns: 334px 693px;
column-gap: 25px;
align-items: start;
}

.about__logo {
width: 240px;
height: 240px;
border-radius: 50%;
background: #000;

display: flex;
align-items: center;
justify-content: center;
}

.about__logo-image {
width: 148px;
height: auto;
}

.about__logo-column { 
padding: 0;
display: flex;
justify-content: center;
align-items: flex-start;
}

.about__title {
margin: 0;
font-weight: 700;
font-size: 40px;
line-height: 47px;
text-transform: uppercase;
}

.about__text {
margin-top: 150px;
display: flex;
flex-direction: column;
gap: 24px;
}

.about__text-column {
    width: 693px;
    padding-top: 133px;
}

.about__paragraph {
margin: 0;
font-size: 20px;
line-height: 24px;
}

.footer {
display: grid;
grid-template-columns: 240px 1fr 240px;
align-items: start;

padding: 0;
margin-top: 180px;       
min-height: 180px;
padding-left: 50px;
padding-right: 50px;
}

.footer__address {
font-style: normal;
}

.footer__address a {
display: block;
}

.address__text {
margin: 0;
}

.footer__menu {
justify-self: center;
text-align: center;
}

.footer__menu-list {
list-style: none;
margin: 0;
padding: 0;
}

.footer__menu-link {
color: #000;
text-decoration: none;
}

.footer__menu-link.under {
text-decoration: underline;
}

.footer__social-list {
list-style: none;
margin: 0;
padding: 0;

justify-self: end;
display: flex;
gap: 48px;
}

.footer__social-icon {
width: 48px;
height: 48px;
display: block;
}